.overall-score-ring {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 6px solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overall-score-value {
  font-size: 2rem;
  font-weight: 700;
}
