<header id="header">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 col-6 text-start">
      <img
        class="img-fluid fip-colour"
        ngSrc="assets/img/CRA-FIP-9pt-e.png"
        width="834"
        height="76"
        alt="Government of Canada"
        priority
      />
    </div>
    <div class="col-lg-9 col-md-8 col-sm-6 col-6 text-end lang-toggle">
      <div class="language-picker-area">
        <a class="langs" href="javascript:void(0)">Fran&ccedil;ais</a>
      </div>
    </div>
  </div>
</header>
